<key>NSLocationWhenInUseUsageDescription</key>
<string>이 앱은 GPS 알림 서비스를 위해 위치 정보가 필요합니다.</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>이 앱은 백그라운드에서도 GPS 알림 서비스를 제공하기 위해 위치 정보가 필요합니다.</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>이 앱은 백그라운드에서도 GPS 알림 서비스를 제공하기 위해 위치 정보가 필요합니다.</string> 